{% extends "index.html" %}

{% block js %}

function canvas_setup(canvas, coord, zoom) {
      var image = new Image();  
      var ctx = canvas.getContext('2d');
      image.src = "/env/z" + zoom + "/"+ coord.x + "/" + coord.y +".png";
      canvas.image = image;
      $(image).load(function() { 
            //ctx.globalAlpha = 0.5;
            ctx.drawImage(image, 0, 0);  
            App.heightLayer.filter_tile(canvas, [App.threshold]);
      });
}

function filter(image_data, w, h, threshold) {
    var components = 4; //rgba
    var pixel_pos;
    for(var i=0; i < w; ++i) {
        for(var j=0; j < h; ++j) {
            var pixel_pos = (j*w + i) * components;
            if(image_data[pixel_pos] < threshold) {
                image_data[pixel_pos] = image_data[pixel_pos + 1] = image_data[pixel_pos + 2] = 0;
                image_data[pixel_pos + 3] = 0;
            }
        }
    }
};
    $(document).ready(function() {
       var layer = new CanvasTileLayer(canvas_setup, filter);
       App.init(layer);
    });
{% endblock %}
